.cards-tarefas{
    display: flex;
    justify-content: space-between;
    background-color: #f2f3f7;
    border-radius: 0.75em;
    cursor: pointer;
    transition: ease 0.2s;
    box-shadow: 5px 6px 1px rgba(0, 0, 0, 0.3);
    border: 1.5px solid #f2f3f7;
    align-items: center;
    padding: 0% 2%;
    width: auto;
    
    p{
        color: #333 !important;
    }
    
    .card:hover {
        background-color: #d3ddf1;
        border: 1.5px solid #1677ff;
    }
    
    .container {
        margin-top: 1.25em;
        margin-bottom: 1.375em;
        margin-right: 2em;
        display: flex;
        flex-direction: row;
        gap: 16px;
        width: auto;
        align-items: center;
    }
    
    .status-ind {
        width: 0.625em;
        height: 0.625em;
        background-color: #ff0000;
        margin: 0.375em 0;
        border-radius: 0.5em;
    }
    
    .text-wrap {
        display: flex;
        flex-direction: column;
        gap: 0.25em;
        color: #333;
    }
    
    .time {
        font-size: 0.875em;
        color: #777;
    }
    
    .text-link {
        font-weight: 500;
        text-decoration: none;
        color: black;
    }
    
    .button-wrap {
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
    }
    
    .secondary-cta {
        background-color: transparent;
        border: none;
        font-size: 15px;
        font-weight: 400;
        color: #666;
        cursor: pointer;
    }
    
    .primary-cta {
        font-size: 15px;
        background-color: transparent;
        font-weight: 600;
        color: #1677ff;
        border: none;
        border-radius: 1.5em;
        cursor: pointer;
    }
    
    button:hover {
        cursor: pointer;
        transform: scale(1.5);
    }

    
    button{
        background: none;
        border: none;
    }
}