@import "../../styles/styleBase";


@media (max-width: 600px) {
    .container-header {
        display: flex;
        flex-direction: column;
        padding: 9% 6%;
        
        height: 100vh;
        width: 100%;
        justify-content: space-between;
        box-sizing: border-box;

        .topo {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 25px;

            .mobile {
                display: block;
            }
        }

        .titulo-logo {
            display: flex;
            gap: 5%;
            align-items: center;

            img {
                width: 20%;
                height: auto;
            }
        }

        .menus-container {
            display: flex;
            flex-direction: column;
            gap: 30px;
            height: auto;
            justify-content: space-around;


            .menu-itens {
                display: flex;
                gap: 8%;

                &:hover {
                    cursor: pointer;
                    font-weight: bold;
                }

                img {
                    width: 10%;
                    height: auto;
                }
            }
        }



        .botoes-criar {
            display: flex;
            flex-direction: column;
            gap: 2%;
            height: 30%;

            button {
                border: none;
                padding: 4%;
                font-weight: bold;
                border-radius: 2%;
                color: white;

                &:hover {
                    cursor: pointer;
                    font-weight: bold;
                }
            }

            .task {
                background: rgb(223, 151, 18);

            }

            .project {
                background: rgb(6, 13, 15);
            }
        }

        .sair {
            display: flex;
            gap: 8%;



            img {
                width: 10%;
                height: auto;
            }

            .logout {
                background: none;
                border: none;
                font-weight: bold;
                text-align: left;

                &:hover {
                    cursor: pointer;
                    font-weight: bold;
                }
            }
        }

    }
}