.container-projetos{
    display: flex;
    gap: 5%;
    height: 100vh;
    padding-right: 10%;
    box-sizing: border-box;
    width: 100vw;

    .topo {
        display: none;
    }

    .header {
        width: 40%;
        height: 100vh;
    }

    .main {
        display: flex;
        flex-direction: column;
        gap: 5%;
        height: 100vh;
        padding: 2% 0;
        width: 100%;
  
        h2{
            border-bottom: 1px black solid;
            width: 98%;
            text-align: center;
            padding: 2%;
            font-size: 1.5rem;
        }
    }
}